:root {
	--font-family: sans-serif;
	--font-weight: 400;
	--font-size: 14px;

	--color-text: #fff;
	--color-background: #393053;

	--container-width: 576px;
	--container-space: 1rem;
}

* {
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	color: var(--color-text);
	accent-color: var(--color-background);
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: var(--color-background);
	max-width: var(--container-width);
	padding: var(--container-space);
	margin: 0 auto;
}

h1 {
	font-size: 1.5rem;
	white-space: nowrap;
}

button {
	background: none;
	appearance: none;
	border: none;
	outline: none;
	cursor: pointer;
	margin-left: auto;
	white-space: nowrap;
}

input[type=file] {
	display: none;
}

textarea {
	flex-grow: 1;
	background: none;
	appearance: none;
	outline: none;
	resize: none;
	overflow: hidden;
	border: 1px solid transparent;
}

textarea:not(:disabled) {
	border-bottom-color: var(--color-text);
}

.row {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: var(--container-space);
	gap: var(--container-space);
}

.controls {
	display: flex;
	gap: var(--container-space);
}

.actions {
	display: flex;
	flex-wrap: wrap;
	margin-left: auto;
	gap: var(--container-space);
}

.todo.complete {
	opacity: .5;
}

.todo.complete textarea {
	text-decoration: line-through;
}
